.dialogues {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 350px 500px;

}

.dialogueList {
    padding: 20px;
    border-right: 1px solid grey;
}

.messageList {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
